body{
    background-color: red;
    margin-top: 10px;
    margin-left: 10px;
}
#container{
    display: grid;
    max-width: 960px;
    /*grid-template-columns: repeat(10,auto);*/
}
div{
    width: 10px;
    height: 10px;
}
